.about{
    &__title{
        text-align: center;
    }
    &__intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        text-align: center;
        line-height: 1.5;
    }
    &__image{
        border-radius: 5px;
        width: 200px;
        
    }
    &__exp{
        // width:50px;
        display: flex;
        justify-content: space-evenly;
        
    }
    &__button{
        text-align: center;
        margin-top: 40px;
    }
}
.about__title p{
    margin-top: -20px;
}

@media screen and (min-width: 768px) {
    .about{
        &__intro{
            margin: 40px;
        }
        &__image{
            width: 400px;
            margin-bottom: 20px;
            
        }
    }
}