.profile-image {
  flex: 3;
}
.profile-image__blob {
  width: 200px;
  /* fill: red; */
}

.profile-image__blob-img {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .profile-image__blob {
    width: 300px;
  }
}


@media screen and (min-width: 992px) {
  .profile-image__blob {
    width: 400px;
  }
}
