footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  border-top: 1px solid gray;
  border-radius: 3px;
  // background-color: white;

  h6{
    padding-left: 10px;
    color: var(--font-color-primary);
  }
}
@media screen and (min-width: 768px) {
  footer{
    display: none;
  }
}
